html,
html.dark {
  color-scheme: dark;
  &:root {
    /* Primary */
    --sys-color-primary: hsla(216, 7%, 14%, 1);
    --sys-color-on-primary: hsla(72, 38%, 97%, 1);

    /* Secondary */
    --sys-color-secondary: hsla(75, 4%, 20%, 1);
    --sys-color-on-secondary: hsla(72, 38%, 97%, 1);

    /* Outline */
    --sys-color-outline: hsla(0, 0%, 56%, 1);
    --sys-color-outline-variant: hsla(210, 5%, 24%, 1);

    /* Surface */
    --sys-color-surface: hsl(264, 9%, 11%);
    --sys-color-on-surface: hsla(72, 38%, 97%, 1);
    --sys-color--inverse-surface: hsla(72, 38%, 97%, 1);
    --sys-color--on-inverse-surface: hsla(216, 7%, 14%, 1);

    /* Container */
    --sys-color-surface-container: hsl(216, 8%, 12%);
    --sys-color-surface-container-low: hsl(216, 7%, 29%);
    --sys-color-surface-container-lowest: hsla(214, 7%, 39%, 0.35);
  }
}
