:focus-visible {
  outline: 4px dashed var(--app-color-on-surface);
  outline-offset: 0.125rem;
}

body {
  font-family: var(--app-font-family-primary), var(--app-font-family-fallback);
  color: var(--app-color-on-surface);
  background: var(--app-color-surface);
}

a {
  text-decoration: none;
}
