:root[data-theme="dark"],
[data-theme="dark"] {

  /* Primary */
  --app-color-primary: hsl(0 0% 100%);
  --app-color-on-primary: hsl(0, 0%, 0%);
  --app-color-primary-container: hsl(0 0% 100%);
  --app-color-on-primary-container: hsl(0 0% 0%);

  /* Surface */
  --app-color-surface: hsl(0 0% 11%);
  --app-color-on-surface: hsl(0 0% 96%);

  /* Container */
  --app-color-surface-container: hsl(0 0% 13%);
  --app-color-on-surface-container: hsl(0 0% 96%);
  --app-color-surface-container-low: hsl(0 0% 15%);
  --app-color-surface-container-lowest: hsl(0 0% 14%);
  --app-color-surface-container-high: hsl(0 0% 16%);
  --app-color-surface-container-highest: hsl(0 0% 19%);

  /* Outline */
  --app-color-outline: hsl(0, 0%, 60%);

  /* Local state layer */
  --app-state-layer-primary-8: color-mix(in hsl, var(--app-color-surface), var(--app-color-on-surface) 8%);
  --app-state-layer-primary-12: color-mix(in hsl, var(--app-color-surface), var(--app-color-on-surface) 12%);
  --app-state-layer-primary-16: color-mix(in hsl, var(--app-color-surface), var(--app-color-on-surface) 16%);

  /* On primary */
  --app-state-layer-on-primary-8: color-mix(in hsl, var(--app-color-primary), var(--app-color-on-primary) 8%);
  --app-state-layer-on-primary-12: color-mix(in hsl, var(--app-color-primary), var(--app-color-on-primary) 12%);
  --app-state-layer-on-primary-16: color-mix(in hsl, var(--app-color-primary), var(--app-color-on-primary) 16%);

  /* Surface */
  --app-state-layer-on-surface: color-mix(in hsl, var(--app-color-surface), var(--app-color-on-surface) 36%);
  --app-state-layer-on-surface-8: color-mix(in hsl, var(--app-color-surface), var(--app-color-on-surface) 8%);
  --app-state-layer-on-surface-12: color-mix(in hsl, var(--app-color-surface), var(--app-color-on-surface) 12%);
  --app-state-layer-on-surface-16: color-mix(in hsl, var(--app-color-surface), var(--app-light-color-on-surface) 16%);

  color-scheme: dark;
}
