html[data-theme="dark"] {
  color-scheme: dark;

  &:root {
    /* Primary */
    --sys-color-primary: #fdd860;
    --sys-color-on-primary: #101010;

    /* Surface */
    --sys-color-surface: #101010;
    --sys-color-on-surface: #bebebe;

    /* Container */
    --sys-color-surface-container: #1f1f1f;
    --sys-color-on-surface-container: #bebebe;
  }
}
