html,
html[data-theme="light"] {
  color-scheme: light;

  &:root {
    /* Primary */
    --sys-color-primary: #fdd860;
    --sys-color-on-primary: #101010;

    /* Surface */
    --sys-color-surface: #dcdde0;
    --sys-color-on-surface: #101010;

    /* Container */
    --sys-color-surface-container: #bebebe;
    --sys-color-on-surface-container: #101010;
  }
}
